.todos {
	margin: 2rem auto;
	width: 90%;
	max-width: 40rem;
}

.todos ul {
	list-style: none;
	padding: 1rem;
}

.todo {
	border: 1px solid #ccc;
	margin: 0.5rem 0;
	padding: 0.5rem;
	position: relative;
}

.todo h2 {
	cursor: pointer;
}

.todo.done {
	background-color: rgb(28, 80, 28);
}

.todo.done h2,
.todo.done p {
	text-decoration: line-through;
}

.delete {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	color: #4ea9cc;
}

.delete:hover {
	color: white;
}
